In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('BIG FIVE 1995-2019.csv')

In [3]:
df

,Round,Date,Team 1,FT,HT,Team 2,Year,Country,FT Team 1,FT Team 2,HT Team 1,HT Team 2,GGD,Team 1 (pts),Team 2 (pts)
0,1,(Sat) 19 Aug 1995 (W33),Aston Villa FC,3-1,3-0,Manchester United FC,1995,ENG,3,1,3,0,2,3,0
1,1,(Sat) 19 Aug 1995 (W33),Blackburn Rovers FC,1-0,1-0,Queens Park Rangers FC,1995,ENG,1,0,1,0,1,3,0
2,1,(Sat) 19 Aug 1995 (W33),Chelsea FC,0-0,0-0,Everton FC,1995,ENG,0,0,0,0,0,1,1
3,1,(Sat) 19 Aug 1995 (W33),Liverpool FC,1-0,0-0,Sheffield Wednesday FC,1995,ENG,1,0,0,0,1,3,0
4,1,(Sat) 19 Aug 1995 (W33),Manchester City FC,1-1,0-1,Tottenham Hotspur FC,1995,ENG,1,1,0,1,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44264,26,(Sun) 8 Mar 2020 (W10),AC Milan,1-2,0-2,Genoa CFC,2019,IT,1,2,0,2,1,0,3
44265,26,(Sun) 8 Mar 2020 (W10),UC Sampdoria,2-1,0-1,Hellas Verona FC,2019,IT,2,1,0,1,1,3,0
44266,26,(Sun) 8 Mar 2020 (W10),Udinese Calcio,0-0,0-0,ACF Fiorentina,2019,IT,0,0,0,0,0,1,1
44267,26,(Sun) 8 Mar 2020 (W10),Juventus,2-0,0-0,FC Internazionale Milano,2019,IT,2,0,0,0,2,3,0
44268,26,(Mon) 9 Mar 2020 (W11),US Sassuolo Calcio,3-0,1-0,Brescia,2019,IT,3,0,1,0,3,3,0

In [4]:
ita_country=df[df["Country"]=="IT"]

In [5]:
ita_country.head()

,Round,Date,Team 1,FT,HT,Team 2,Year,Country,FT Team 1,FT Team 2,HT Team 1,HT Team 2,GGD,Team 1 (pts),Team 2 (pts)
35559,1,(Sun) 27 Aug 1995 (W34),Atalanta BC,1-1,0-0,Parma,1995,IT,1,1,0,0,0,1,1
35560,1,(Sun) 27 Aug 1995 (W34),Bari,1-1,1-0,SSC Napoli,1995,IT,1,1,1,0,0,1,1
35561,1,(Sun) 27 Aug 1995 (W34),ACF Fiorentina,2-0,0-0,Torino FC,1995,IT,2,0,0,0,2,3,0
35562,1,(Sun) 27 Aug 1995 (W34),FC Internazionale Milano,1-0,0-0,LR Vicenza Virtus,1995,IT,1,0,0,0,1,3,0
35563,1,(Sun) 27 Aug 1995 (W34),Juventus,4-1,1-0,Cremonese,1995,IT,4,1,1,0,3,3,0

In [6]:
ita_country

,Round,Date,Team 1,FT,HT,Team 2,Year,Country,FT Team 1,FT Team 2,HT Team 1,HT Team 2,GGD,Team 1 (pts),Team 2 (pts)
35559,1,(Sun) 27 Aug 1995 (W34),Atalanta BC,1-1,0-0,Parma,1995,IT,1,1,0,0,0,1,1
35560,1,(Sun) 27 Aug 1995 (W34),Bari,1-1,1-0,SSC Napoli,1995,IT,1,1,1,0,0,1,1
35561,1,(Sun) 27 Aug 1995 (W34),ACF Fiorentina,2-0,0-0,Torino FC,1995,IT,2,0,0,0,2,3,0
35562,1,(Sun) 27 Aug 1995 (W34),FC Internazionale Milano,1-0,0-0,LR Vicenza Virtus,1995,IT,1,0,0,0,1,3,0
35563,1,(Sun) 27 Aug 1995 (W34),Juventus,4-1,1-0,Cremonese,1995,IT,4,1,1,0,3,3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44264,26,(Sun) 8 Mar 2020 (W10),AC Milan,1-2,0-2,Genoa CFC,2019,IT,1,2,0,2,1,0,3
44265,26,(Sun) 8 Mar 2020 (W10),UC Sampdoria,2-1,0-1,Hellas Verona FC,2019,IT,2,1,0,1,1,3,0
44266,26,(Sun) 8 Mar 2020 (W10),Udinese Calcio,0-0,0-0,ACF Fiorentina,2019,IT,0,0,0,0,0,1,1
44267,26,(Sun) 8 Mar 2020 (W10),Juventus,2-0,0-0,FC Internazionale Milano,2019,IT,2,0,0,0,2,3,0
44268,26,(Mon) 9 Mar 2020 (W11),US Sassuolo Calcio,3-0,1-0,Brescia,2019,IT,3,0,1,0,3,3,0

In [7]:
df['Team 1'].iloc[0]

'Aston Villa FC '

In [8]:
aston_villa_plays=df[df['Team 1']=='Aston Villa FC ']

In [9]:
aston_villa_plays

,Round,Date,Team 1,FT,HT,Team 2,Year,Country,FT Team 1,FT Team 2,HT Team 1,HT Team 2,GGD,Team 1 (pts),Team 2 (pts)
0,1,(Sat) 19 Aug 1995 (W33),Aston Villa FC,3-1,3-0,Manchester United FC,1995,ENG,3,1,3,0,2,3,0
31,4,(Wed) 30 Aug 1995 (W35),Aston Villa FC,1-0,0-0,Bolton Wanderers FC,1995,ENG,1,0,0,0,1,3,0
51,6,(Sat) 16 Sep 1995 (W37),Aston Villa FC,2-0,1-0,Wimbledon FC,1995,ENG,2,0,1,0,2,3,0
61,7,(Sat) 23 Sep 1995 (W38),Aston Villa FC,1-1,0-0,Nottingham Forest FC,1995,ENG,1,1,0,0,0,1,1
80,9,(Sat) 14 Oct 1995 (W41),Aston Villa FC,0-1,0-0,Chelsea FC,1995,ENG,0,1,0,0,1,0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9291,18,(Sat) 21 Dec 2019 (W51),Aston Villa FC,1-3,0-2,Southampton FC,2019,ENG,1,3,0,2,2,0,3
9300,19,(Thu) 26 Dec 2019 (W52),Aston Villa FC,1-0,0-0,Norwich City FC,2019,ENG,1,0,0,0,1,3,0
9338,22,(Sun) 12 Jan 2020 (W2),Aston Villa FC,1-6,0-4,Manchester City FC,2019,ENG,1,6,0,4,5,0,3
9349,23,(Tue) 21 Jan 2020 (W4),Aston Villa FC,2-1,0-1,Watford FC,2019,ENG,2,1,0,1,1,3,0
9376,26,(Sun) 16 Feb 2020 (W7),Aston Villa FC,2-3,1-2,Tottenham Hotspur FC,2019,ENG,2,3,1,2,1,0,3

In [10]:
type(aston_villa_plays['FT Team 1'].iloc[0])

numpy.int64

In [11]:
counter=0
list_of_result=[]

for i in aston_villa_plays['FT Team 1']:
    second_result=aston_villa_plays['FT Team 2'].iloc[counter]
    
    
    if i>second_result:
        list_of_result.append("yes")
        
    else:
        list_of_result.append("no")
        
    
    counter+=1
    
number_elements=0
for element in list_of_result:

    number_elements+=1
    
print(number_elements)

412

In [12]:
number_of_victories=0

for victory in list_of_result:
    
    if victory == 'yes':
        number_of_victories+=1
        
    
        
print(number_of_victories)

print('probability of victory'+' '+ str((number_of_victories/number_elements)*100))

166
probability of victory 40.29126213592233

In [13]:

def adding_column_df(df,list_1,name):
    
    df[str(name)]=list_1
    
    return df


aston_villa_plays=adding_column_df(aston_villa_plays,list_of_result,'result')

<ipython-input-13-d816d83865b5>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[str(name)]=list_1

In [14]:
aston_villa_plays

,Round,Date,Team 1,FT,HT,Team 2,Year,Country,FT Team 1,FT Team 2,HT Team 1,HT Team 2,GGD,Team 1 (pts),Team 2 (pts),result
0,1,(Sat) 19 Aug 1995 (W33),Aston Villa FC,3-1,3-0,Manchester United FC,1995,ENG,3,1,3,0,2,3,0,yes
31,4,(Wed) 30 Aug 1995 (W35),Aston Villa FC,1-0,0-0,Bolton Wanderers FC,1995,ENG,1,0,0,0,1,3,0,yes
51,6,(Sat) 16 Sep 1995 (W37),Aston Villa FC,2-0,1-0,Wimbledon FC,1995,ENG,2,0,1,0,2,3,0,yes
61,7,(Sat) 23 Sep 1995 (W38),Aston Villa FC,1-1,0-0,Nottingham Forest FC,1995,ENG,1,1,0,0,0,1,1,no
80,9,(Sat) 14 Oct 1995 (W41),Aston Villa FC,0-1,0-0,Chelsea FC,1995,ENG,0,1,0,0,1,0,3,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9291,18,(Sat) 21 Dec 2019 (W51),Aston Villa FC,1-3,0-2,Southampton FC,2019,ENG,1,3,0,2,2,0,3,no
9300,19,(Thu) 26 Dec 2019 (W52),Aston Villa FC,1-0,0-0,Norwich City FC,2019,ENG,1,0,0,0,1,3,0,yes
9338,22,(Sun) 12 Jan 2020 (W2),Aston Villa FC,1-6,0-4,Manchester City FC,2019,ENG,1,6,0,4,5,0,3,no
9349,23,(Tue) 21 Jan 2020 (W4),Aston Villa FC,2-1,0-1,Watford FC,2019,ENG,2,1,0,1,1,3,0,yes
9376,26,(Sun) 16 Feb 2020 (W7),Aston Villa FC,2-3,1-2,Tottenham Hotspur FC,2019,ENG,2,3,1,2,1,0,3,no

In [15]:
aston_villa_plays.isna().sum()

Round           0
Date            0
Team 1          0
FT              0
HT              0
Team 2          0
Year            0
Country         0
FT Team 1       0
FT Team 2       0
HT Team 1       0
HT Team 2       0
GGD             0
Team 1 (pts)    0
Team 2 (pts)    0
result          0
dtype: int64

In [16]:
type(aston_villa_plays['Date'])

pandas.core.series.Series

In [24]:
aston_villa_plays.head(1)

,Round,Date,Team 1,FT,HT,Team 2,Year,Country,FT Team 1,FT Team 2,HT Team 1,HT Team 2,GGD,Team 1 (pts),Team 2 (pts),result
0,1,(Sat) 19 Aug 1995 (W33),Aston Villa FC,3-1,3-0,Manchester United FC,1995,ENG,3,1,3,0,2,3,0,yes